.basic-canvas grid line {
  stroke: rgb(84, 84, 84);
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.group:hover svg,
.group:focus svg {
  stroke: #4f46e5; /* indigo-600 */
  fill: #4f46e5;
}
.group:hover button,
.group:focus button {
  outline-color: #4f46e5;
}
.group:hover span,
.group:focus span {
  color: #4f46e5;
}
.group:hover path,
.group:focus path {
  stroke: #4f46e5;
}